%h1=@game_attrs[:name]
= link_to new_match_path(@game)
= render partial: 'leaderboard'

#rules
  = render partial: "games/#{@game.downcase}/rules"

#api
  = render partial: "games/#{@game.downcase}/api"