%h1=@game_attrs[:name]
= button_to 'Request Match', match_path(game: @game.downcase), method: :post
= render partial: 'leaderboard'

#rules
  = render partial: "games/#{@game.downcase}/rules"

#api
  = render partial: "games/#{@game.downcase}/api"