.padded
  %h1=@game_attrs[:name]
  = form_tag matches_path do
    = hidden_field_tag :game, @game
    = submit_tag "Request Match"
  = render partial: 'leaderboard'

  #rules.row
    = render partial: "games/#{@game.downcase}/rules"

  #api.row
    = render partial: "games/#{@game.downcase}/api"