.two.thirds.centered
  %h1 My bots
  .pad-bottom
    = link_to new_bot_path do
      %button.info New Bot
  %table#bot-list
    %tr
      %th Name
      %th Rating
      %th
    - @bots.each do |bot|
      %tr{id: "bot-#{bot.id}"}
        %td= bot.name
        %td= bot.rating
        %td= link_to 'Edit', edit_bot_path(bot)