#header.padded.container
  .row
    .two.thirds
      BotForge
    .one.thirds.align-right
      - if current_user
        = current_user.username
        = link_to 'My Bots', bots_path
        = link_to 'Log out', session_path, method: :delete
      - else
        = link_to 'Register', new_user_path
        = link_to 'Log in', new_session_path
  .row.pad-top
    %nav.nav.blue
      = link_to 'Games', games_path
      = link_to 'API', '/'
      = link_to 'Discuss', '/'
